@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

*{
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins, serif;
}

ul{
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

hr{
  border: 0;
  border-top: 1px dotted #efefef;
}

img{
  max-width: 100%;
}

// Base Values
$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 16px;

// Theme Colors
$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;


h1{
  color: $primary;
  border-bottom: $base-margin;
}

a {
  color: $secondary;
}

.button {
  color: white;
  border: 0;
  background: $secondary;
  padding: $base-padding;
  border-radius: $base-border-radius;
}

.error {
  color: $error;
  border-color: $error;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

