@import 'variables';
@import "base";
@import "colors";
@import "utilities";
@import "functions";
@import "components/card";
@import "components/button";

h1{
  color: $primary;
  border-bottom: $base-margin;
}

a {
  color: $secondary;
}

.button {
  color: white;
  border: 0;
  background: $secondary;
  padding: $base-padding;
  border-radius: $base-border-radius;
}

.error {
  color: $error;
  border-color: $error;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;
  padding: $base-padding;
  margin: $base-margin;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

